$josefin: "JosefinSans";
$red: "RedHatDisplay";
$radius: 30px 5px 30px 5px;
$radius-active: 5px 30px 5px 30px;
$white: #fff;
$nav-height: 20vh;
$nav-mobile-height: 7vh;

//green
$black: #020202ff;
$dark-green: #0d2818ff;
$sea-green: #058c42ff;
$malachite: #16db65ff;

//blue
$alice-blue: #edf2fbff;
$lavender-web: #e2eafcff;
$lavender-web-2: #d7e3fcff;
$periwinkle: #ccdbfdff;
$periwinkle-2: #c1d3feff;
$periwinkle-3: #b6ccfeff;

//orangered

$safety-orange: rgba(255, 119, 0, 0.901);
$ut-orange: #ff8500ff;
$princeton-orange: #ff9100ff;
$orange-peel: #ff9e00ff;
$russian-violet: #240046ff;
$persian-indigo: #3c096cff;
$tekhelet: #5a189aff;
$french-violet: #7b2cbfff;
$amethyst: #9d4eddff;

$home: #ff6d00ff;
$education: #f1ba0a;
$skills: #abc4ffff;
